# Misc
*.lock
*.log
*.pyc
*.swp
.DS_Store
.history

# Local env / tooling
.fvm/
*.env
*.env.*

# IDE
.idea/
.vscode/
*.iml

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.packages.generated
.pub/
.pub-cache/
.pub-preload-cache/
**/generated_plugin_registrant.dart
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Builds
build/

# Android
android/.gradle/
android/local.properties
android/app/debug.keystore

# iOS / macOS
**/DerivedData/
**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/ServiceDefinitions.json
**/Runner/GeneratedPluginRegistrant.*
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3
**/*sync/
**/xcuserdata/
**/.generated/

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake

# Coverage
coverage/
lcov.info

# Test artifacts
test/failures/
